*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI;
background:#07142b;
color:white;
overflow-x:hidden;
}

#stars{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(white 1px, transparent 1px);
background-size:40px 40px;
opacity:.25;
z-index:-1;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:5rem;
color:#7dd3fc;
text-shadow:0 0 25px #38bdf8;
}

.hero h2{
margin-top:20px;
font-size:2rem;
}

.hero p{
margin:20px;
max-width:600px;
}

button{
padding:15px 30px;
border:none;
border-radius:30px;
cursor:pointer;
font-size:18px;
background:#38bdf8;
color:white;
}

.envelope-container{
display:flex;
justify-content:center;
padding:100px 20px;
}

.envelope{
width:350px;
height:250px;
position:relative;
cursor:pointer;
}

.front{
position:absolute;
width:100%;
height:100%;
background:#1e40af;
border-radius:15px;
}

.letter{
position:absolute;
background:white;
color:black;
padding:20px;
border-radius:15px;
width:100%;
height:100%;
transform:translateY(20px);
opacity:0;
transition:1s;
overflow:auto;
}

.open .letter{
opacity:1;
transform:translateY(-100px);
}

.slider-section{
padding:80px 20px;
text-align:center;
}

.slider{
display:flex;
gap:20px;
overflow:hidden;
padding:20px;
animation:slide 25s linear infinite;
}

.slider img{
width:300px;
height:400px;
object-fit:cover;
border-radius:20px;
}

@keyframes slide{
0%{
transform:translateX(0);
}
100%{
transform:translateX(-50%);
}
}

.qualities{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:50px;
}

.card{
background:rgba(255,255,255,.1);
backdrop-filter:blur(15px);
padding:30px;
border-radius:20px;
min-width:180px;
}

footer{
padding:50px;
text-align:center;
}